
.calendar-day-header {
  font-size: 0.95rem;
}

.calendar-cell {
  flex: 1 0 14.2%; 
}

.cell-box {
  min-height: 100px;
  position: relative;
  transition: all 0.2s ease;
}

.cell-box:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.date-number {
  position: absolute;
  top: 5px;
  right: 8px;
}

.activity {
  font-size: 0.8rem;
  line-height: 1.2;
  margin-bottom: 2px;
}
